@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section MainContent{
    <div class="about s4" id="about">
        <div class="container">
            <h3 class="m_4">About Us</h3>
            <p class="m_5">nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</p>
            <div class="row text-center">
                <div class="col-md-3 about-grid text-center">
                    <img src="~/Content/images/pic1.png" class="img-responsive" alt="" />
                    <h3><a href="#">John Doe<br>General Manager</a></h3>
                    <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
                </div>
                <div class="col-md-3 about-grid text-center">
                    <img src="~/Content/images/pic3.png" class="img-responsive" alt="" />
                    <h3><a href="#">John Doe<br>General Manager</a></h3>
                    <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
                </div>
                <div class="col-md-3 about-grid text-center">
                    <img src="~/Content/images/pic2.png" class="img-responsive" alt="" />
                    <h3><a href="#">John Doe<br>General Manager</a></h3>
                    <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
                </div>
                <div class="col-md-3 about-grid text-center">
                    <img src="~/Content/images/pic4.png" class="img-responsive" alt="" />
                    <h3><a href="#">John Doe<br>General Manager</a></h3>
                    <p>diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation </p>
                </div>
            </div>
        </div>
    </div>
}